.form-section__button-block{
    max-width: 260px;
}
.form-section__button-block__auth{
    margin: 8px 0;
    display: flex;
    flex-direction: column;

}


.form-section__button-block__auth__forget{
    font-weight: 400;
    font-size: 16px;
    color: #E00944;
    text-decoration: none;
    margin: 8px 0;
}

.form-section__button-block__auth__login-button,
.form-section__button-block__change__login-button,
.form-section__button-block__reg__login-button,
.form-section__button-block__forgot__login-button,
.form-section__button-block__profile__edit-button
{
    background: linear-gradient(178.4deg, #FDCC47 1.36%, #FF8520 121.84%);
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px 0;
    width: 100%;
    margin: 8px 0;
}

.form-section__button-block__profile__exit-button{
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 0;
    width: 100%;
    margin: 8px 0;
    border: 1px solid #758099;
    background: none;
}

.form-section__button-block__auth__reg,
.form-section__button-block__change__reg,
.form-section__button-block__forgot__reg
{
    font-weight: 400;
    font-size: 18px;
    color: #2E20CD;
    text-decoration: none;
    margin: 8px 0;
}

.form-section__button-block__reg__advice{
    font-weight: 400;
    font-size: 16px;
    color: #464F56;
}

.form-section__button-block__forgot__advice{
    font-weight: 400;
    font-size: 16px;
    color: #464F56;
}


.form-section__button-block__reg__tk{

    font-weight: 400;
    font-size: 12px;
    color: #464F56;
}



