.reception-calendar{
    display: flex;
    flex-direction: column;
}
.reception-calendar__select{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reception-calendar__select__post p:first-child{
    font-weight: 400;
    font-size: 14px;
    color: #758099;
}

.service-select {
    border: none;
    outline: none;
}

.react-calendar{
    width: 100% !important;
}