@media(max-width:1765px){
    section{
        padding: 21px 10%;
    }
    header{
        padding: 21px 10%;
    }
    footer{
        padding: 21px 10%;
    }

    .reception-calendar__calendar__days__day {
        flex: 0 0 13%;
    }


    }

@media(max-width:1386px){
    section{
        padding: 20px 15px;
    }
    header{
        padding: 20px 15px;
    }
    footer{
        padding: 20px 15px;
    }
    .section-navbar a {
        font-size: 20px;
    }
}

@media(max-width:1145px){
    .form-section__profile-form__inputs {

        flex-wrap: wrap;
    }
    .form-section__profile-form{
        flex-wrap: wrap;
    }
    .my-data-button{
        margin-left: 0;
    }
    .personal-cabinet{
        flex-wrap: wrap;
    }
    .reception{
        flex-basis: 100%;
    }

}

@media(max-width:823px){
    header h3 {
        font-size: 28px;
    }

    section  h3{
        font-size: 28px;
    }

    .footer__links{
        flex-wrap: wrap;
    }

    .form-section{
        max-width: 90vw;
    }
}

@media(max-width:667px){

    .section-navbar{
        display: none;
        flex-direction: column;
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        height: 100%;
        justify-content: start;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        align-items: flex-end;
        padding: 65px 15px;

    }
    .section-navbar a{
        margin: 8px 0;
    }
    .section-navbar__cancel{
        display: block;
    }

    .reception-cards__holder__card{
        margin: 15px 0;
    }
    .reception-cards__holder__card__head{
        flex-direction: column;
    }
    .reception-cards__holder__card__body{
        flex-direction: column;
        gap: 0;
    }

    .hamburger{
        display: flex;
        justify-content: flex-end;
    }
    .link-with-hamburger{
        display: flex;
        justify-content: space-between;
    }

    .head-breadcrumbs>div{
        display: none;
    }
    .reception-make__doc {
        padding-right: 0;
    }
    .reception-calendar-date__hour-blocks__item{
        padding:0 18px;
    }

    .footer__links{
        flex-direction: column;
    }
    .reception-cards__holder__card__button{
        flex-direction: column;
    }

    .short-day-name{
        display: block;
    }
    .full-day-name{
        display: none;
    }

    .reception-cards__selectors{
     flex-direction: column;
    }


}

