header{
    background: linear-gradient(180deg, #FDFDFD 0%, #E2EAEF 100%);
    padding: 21px 20%;
    display: flex;
    justify-content: space-between;
}
header h3{
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #464F56;
    margin: 0;
}
header a{
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    color: #464F56;
    text-decoration: none;
}
.head-breadcrumbs p a{
    font-size: 16px;
    line-height: 23px;
    color: #758099;
}