.reception-cards{
    margin:20px 0;
}

.reception-cards__selectors {
    display: flex;
    justify-content: space-between;
    margin:20px 0;
}
.reception-cards__selectors select{
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 17px;
    color: #758099;
}

.reception-cards__selectors label{
    font-weight: 400;
    font-size: 17px;
    color: #758099;
}

.reception-cards__holder__card{
    background: #F1F1F1;
    padding: 20px 60px 20px 20px;
    -webkit-box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
    margin: 20px 100px 20px 0;
}

.reception-cards__holder__card__head {
    display: flex;
    justify-content: space-between;
}

.reception-cards__holder__card__head p{
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.reception-cards__holder__card__body {
    display: flex;
    justify-content: space-between;
    gap:40px;
    margin-right: 20%;

}

.reception-cards__holder__card__body p{
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    white-space: nowrap;
}

.reception-cards__holder__card__button{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.reception-cards__holder__card__button p{
    display: flex;
    max-width: 260px;
    font-weight: 400;
    font-size: 16px;
    color: #E00944;
}

.reception-cards__holder__card__button button{
    background: linear-gradient(178.4deg, #FDCC47 1.36%, #FF8520 121.84%);
    border-radius: 100px;
    color: #FFFFFF;
    border: none;
    padding: 21px 0;
    width: 100%;
    max-width: 260px;
    font-size: 18px;
    font-weight: 700;

}

.overdue{
    background: #E00944 !important;
}

.cancel{
    background: #959595 !important;
}


