
.navigation-list{
    padding: 0;
}

.navigation-list li{
    list-style-type: none;
    padding: 14px 5px;
    border-bottom: 1px solid #D1D7E2;
    position: relative;
    cursor: pointer;

}

.navigation-list li a{
   text-decoration: none;
    color: black;

}
