.profile-card__info  p {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}
.profile-card__info   {

    margin: 10px 0;
}
.profile-card__info__head{
    color: #758099;
}

.profile-card h3{
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin: 0;
}
.profile-card img{
    margin: 10px 0;
}



